<?xml version="1.0"?>
<launch>
  <group ns="ecu1">
  	<node name="ecu1" pkg="turtlesim" type="turtlesim_node" />
	<node name="mover" pkg="turtlesim_expl" type="repeated_mover.py" />
  </group>

  <group ns="ecu2">
  	<node name="ecu2" pkg="turtlesim" type="turtlesim_node" />
	<node name="mover" pkg="turtlesim_expl" type="repeated_mover.py" />
  </group>

  <node ns="log" name="logger" pkg="turtlesim_expl" type="logger.py" />
</launch>
