log
state
training_data/*.pickle
ids/models
intrusion_classifier_history

# Template at https://www.gitignore.io/api/VisualStudioCode

### Visual Studio Code ###

.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# End of https://www.gitignore.io/api/VisualStudioCode

